@model NPJe.FrontEnd.Dtos.GenericInfoComboDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal {
        overflow-y: auto !important;
    }
</style>
<!-- Cabeçalho da página -->
<section class="content-header">
    <h1>
        Processos
        <small>Lista de Processos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-list-alt"></i> Home</a></li>
        <li class="active">Processos</li>
    </ol>
</section>

<!-- Conteúdo principal -->
<section class="content">
    <!-- Box padrão -->
    <div class="box">
        <div class="box">
            <!-- Cabeçalho do box -->
            <div class="box-header" style="padding-bottom: 0px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-8" style="padding-left: 0px;">

                            <div class="col-md-12" style="padding-left: 0px;">
                                <div class="box box-default box-solid collapsed-box" style="margin-bottom: 0px;">
                                    <div class="box-header with-border" style="padding-bottom: 5px; padding-top: 5px;">
                                        <h3 class="box-title">Filtros</h3>
                                        <label for="filtroData" hidden id="consultaPersonalizada" style="color:red;font-weight:bold"> * Tela com consulta personalizada, pressione o botão "Limpar filtros" para desfazer.</label>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse" style="padding-top: 0px; padding-bottom: 0px;">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body" id="modalFiltro" style="">

                                        <div class="form-group" hidden>
                                            <input type="checkbox" id="processos15dias" value="false" checkBox="1" default="true" name="processos15dias" filtro="1" reload="tabelaProcesso">
                                        </div>

                                        <div class="form-group" hidden>
                                            <input type="checkbox" id="processos30dias" value="false" checkBox="1" default="true" name="processos30dias" filtro="1" reload="tabelaProcesso">
                                        </div>

                                        <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="filtroData">Distribuição</label>
                                                    <input type="text" id="filtroData" name="filtroData" filtro="1" dateField="1" reload="tabelaProcesso" class="form-control timepicker">
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="filtroConcluidos">Concluídos</label><br />
                                                    <input type="checkbox" id="filtroConcluidos" value="false" checkBox="1" default="true" name="filtroConcluidos" filtro="1" reload="tabelaProcesso">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="filtroCliente">Cliente</label>
                                                <br />
                                                <select class="form-control" name="filtroCliente" id="filtroCliente" comboBox="1" style="width:100%" filtro="1" reload="tabelaProcesso"></select>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="filtroGrupo">Grupo</label>
                                                <br />
                                                <select class="form-control" name="filtroGrupo" id="filtroGrupo" comboBox="1" placeholder="Escolha o grupo" style="width:100%" filtro="1" reload="tabelaProcesso"></select>
                                            </div>
                                        </div>

                                        <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="filtroSituacaoNpj">Situação NPJ atual</label>
                                                    <select class="form-control" name="filtroSituacaoNpj" id="filtroSituacaoNpj" filtro="1" reload="tabelaProcesso" placeholder="Escolha a situação" style="margin-top: 4px;">
                                                        <option value="">Escolha...</option>
                                                        @foreach (var item in ViewBag.SituacaoNpj)
                                                        {
                                                            <option value="@item.id"> @item.text </option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="filtroSituacaoProjudi">Situação Projudi atual</label>
                                                    <select class="form-control" name="filtroSituacaoProjudi" id="filtroSituacaoProjudi" filtro="1" reload="tabelaProcesso" placeholder="Escolha a situação" style="margin-top: 4px;">
                                                        <option value="">Escolha...</option>
                                                        @foreach (var item in ViewBag.SituacaoProjudi)
                                                        {
                                                            <option value="@item.id"> @item.text </option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-8">
                                        </div>
                                        <div class="col-sm-2" style=" text-align: right;">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-default" id="btnLimparFiltro" style="text-align: right">
                                                    <i class="fa fa-reply-all"></i>
                                                    Limpar filtros
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4" id="colAdd" style=" text-align: right; padding-right: 0;">
                            <!-- Botão de adicionar -->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAdd" id="btnAdd" style="text-align: right">
                                <i class="fa fa-plus"></i>
                                Adicionar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body" id="tabela">
                <!-- Tabela -->
                <table id="tabelaProcesso" class="table table-bordered table-striped">
                    <thead>
                        <!-- Colunas da tabela -->
                        <tr>
                            <th>Distribuição</th>
                            <th>Número</th>
                            @*<th>Tipo</th>*@
                            <th>Cliente</th>
                            <th>Grupo</th>
                            <th>Sit. NPJ atual</th>
                            <th>Sit. Projudi atual</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Distribuição</th>
                            <th>Número</th>
                            @*<th>Tipo</th>*@
                            <th>Cliente</th>
                            <th>Grupo</th>
                            <th>Sit. NPJ atual</th>
                            <th>Sit. Projudi atual</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    @* Modal add Processo *@
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         consultar="false" url="http://localhost:51485/api/processoCrud/SaveProcesso" reload="tabelaProcesso"
         registrosInconsistentes="http://localhost:51485/api/processoCrud/ExcluirRegistrosInconsistentes">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar registro</h4>
                </div>

                <div class="box-body">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="datepicker">Distribuição</label>
                            <input type="text" class="form-control pull-right" required name="DescricaoDistribuicao" id="datepicker" placeholder="Selecione uma data">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputNumeroProcesso">Número do processo</label>
                            <input type="text" class="form-control" name="NumeroProcesso" id="inputNumeroProcesso" placeholder="Digite o número do processo">
                        </div>
                    </div>

                    <div class="col-sm-11" style=" width: 825px; padding-right: 5px;">
                        <div class="form-group">
                            <input type="hidden" id="IdEdit" name="Id" value="0">
                            <label for="comboBoxTipoAcao">Tipo da ação</label>
                            <br />
                            <select class="form-control" name="IdTipoAcao" id="comboBoxTipoAcao" required placeholder="Escolha o tipo da ação" style="width:100%"></select>
                        </div>
                    </div>
                    <div class="col-sm-1" style="margin-top: 0px;padding-top: 24px;padding-left: 0px;padding-right: 0px;width: 45px;">
                        <div class="form-group">
                            <button type="button" name="btnAddTipoAcao" class="btn btn-success" data-toggle="modal" data-target="#modalAddTipoAcao" style="width:36px; margin: 1px 2px 1px 2px;">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="comboBoxPasta">Referente ao caso</label>
                            <select class="form-control" name="IdPasta" id="comboBoxPasta" required placeholder="Escolha o caso" style="height: 32px; width:100%"></select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <label class="box-title" style="font-size: 15px;">Informações do caso</label>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" collapse="1" ignore="1">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="comboBoxGrupo">Grupo</label>
                                        <select class="form-control" name="IdGrupo" id="comboBoxGrupo" info="1" disabled placeholder="Escolha o grupo" style="height: 32px; width:100%"></select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="comboBoxGrupo">Responsável</label>
                                        <select class="form-control" name="IdUsuarioResponsavel" id="comboBoxUsuarioResponsavel" info="1" disabled placeholder="Escolha o responsável" style="height: 32px; width:100%"></select>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="comboBoxCliente">Cliente</label>
                                        <select class="form-control" name="IdCliente" info="1" disabled id="comboBoxCliente" required placeholder="Escolha o cliente" style="width:100%"></select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-6" style="padding-left: 0px;">
                            <div class="form-group">
                                <label for="comboSituacaoNpjAtual" style="margin-bottom: 1px;">Situação NPJ atual</label>
                                <select class="form-control" name="IdSituacaoNpjAtual" id="comboSituacaoNpjAtual" disabled placeholder="" style="margin-top: 4px;">
                                    <option value=""></option>
                                    @foreach (var item in ViewBag.SituacaoNpj)
                                    {
                                        <option value="@item.id"> @item.text </option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6" style="padding-left: 0px;">
                            <div class="form-group">
                                <label for="comboSituacaoProjudiAtual" style="margin-bottom: 1px;">Situação Projudi atual</label>
                                <select class="form-control" name="IdSituacaoProjudiAtual" id="comboSituacaoProjudiAtual" disabled placeholder="" style="margin-top: 4px;">
                                    <option value=""></option>
                                    @foreach (var item in ViewBag.SituacaoProjudi)
                                    {
                                        <option value="@item.id"> @item.text </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">

                        <div class="col-sm-3" style="padding-left: 0px;">
                            <div class="form-group">
                                <label for="comboPolo" style="margin-bottom: 1px;">Polo</label>
                                <select class="form-control" name="IdPolo" id="comboPolo" placeholder="selecione o polo" style="margin-top: 4px;">
                                    <option value=""></option>
                                    @foreach (var item in ViewBag.Polo)
                                    {
                                        <option value="@item.id"> @item.text </option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3" style="padding-left: 0px;">
                            <label for="checkStatus" style="margin-bottom: 5px;">Status</label><br />
                            <input type="checkbox" id="checkStatus" value="false" name="Status">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="box box-default box-solid collapsed-box">
                            <div class="box-header with-border">
                                <label class="box-title" style="font-size: 15px;">Demais informações</label>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" collapse="1" ignore="1">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body" style="">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputExpectativaValorCausa">Expectativa-Valor da causa</label>
                                        <input type="text" class="form-control" name="ExpectativaValorCausa" id="inputExpectativaValorCausa" placeholder="Digite a informação" money="1">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="inputPercentualHonorarios">% Honorários</label>
                                        <input type="text" class="form-control" name="PercentualHonorarios" id="inputPercentualHonorarios" placeholder="Digite a informação" percent="1">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="inputValorHonorarios">Valor em honorários</label>
                                        <input type="text" class="form-control" name="ValorHonorarios" id="inputValorHonorarios" placeholder="Digite a informação" money="1">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="inputSegmentoJudiciario">Segmento do judiciário</label>
                                        <input type="text" class="form-control" name="SegmentoJudiciario" id="inputSegmentoJudiciario" placeholder="Digite a informação">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="inputComarca">Comarca</label>
                                        <input type="text" class="form-control" name="Comarca" id="inputComarca" placeholder="Digite a informação">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="inputVara">Vara</label>
                                        <input type="text" class="form-control" name="Vara" id="inputVara" placeholder="Digite a informação">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="inputTribunal">Tribunal</label>
                                        <input type="text" class="form-control" name="Tribunal" id="inputTribunal" placeholder="Digite a informação">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="inputAnotacoesGerais">Anotações gerais</label>
                                        <textarea class="form-control" rows="3" name="AnotacoesGerais" id="inputAnotacoesGerais" placeholder="Digite a informação"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Atendimento" data-toggle="tab">Atendimentos</a></li>
                            @*<li><a href="#registroStatusAtendimento" data-toggle="tab">Status</a></li>*@
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="Atendimento">
                            <div class="box">
                                <div class="box-header" style="background-color:#ecf0f5; border-bottom:2px solid #d2d6de !important; padding-bottom: 4px;padding-top: 4px;">
                                    <div class="col-sm-6">
                                        <label style="padding-top: 5px;">Atendimentos</label>
                                    </div>
                                    <div class="col-sm-6" id="colAdd" style=" text-align: right; padding-right: 0;">
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddAtendimento" id="btnAddAtendimento" style="text-align: right">
                                            <i class="fa fa-plus"></i>
                                            Adicionar
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body no-padding">
                                    <table id="tabelaAtendimento" name="AtendimentoGrid" class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Título</th>
                                                <th>Situação NPJ</th>
                                                <th>Situação projudi</th>
                                                <th>Usuário</th>
                                                <th>Data/Hora</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal Remove Processo *@
    <div class="modal fade" id="modalRemoveProcesso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" grid="tabelaProcesso" url="http://localhost:51485/api/processoCrud/RemoveProcesso" reload="tabelaProcesso">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Remover processo</h4>
                </div>

                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Deseja mesmo excluir este registro?</label>
                            <input type="hidden" id="IdRemoveProcesso" name="Id">
                        </div>
                    </div>

                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal add TipoAcao *@
    <div class="modal fade" id="modalAddTipoAcao" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" grid="comboBoxTipoAcao" url="http://localhost:51485/api/processoCrud/SaveTipoAcao" reload="comboBoxTipoAcao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Vincular tipo de ação ao Processo</h4>
                </div>

                <div class="box-body">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="inputDescricao">Descrição</label>
                                <input type="text" class="form-control" required name="Descricao" id="inputDescricao" placeholder="Digite a descrição">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                    </div>
                    <div class="col-md-5">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal add Atendimento *@
    <div class="modal fade" id="modalAddAtendimento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" grid="AtendimentoGrid" url="http://localhost:51485/api/processoCrud/SaveAtendimento" reload="tabelaAtendimento">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Vincular novo atendimento</h4>
                </div>

                <div class="box-body">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="hidden" id="IdEditAtendimento" name="Id" value="0">
                            <input type="hidden" id="IdProcessoA" name="IdProcesso" value="0">
                            <label for="inputTitulo">Título</label>
                            <input type="text" class="form-control" required name="Titulo" id="inputTitulo" placeholder="Digite o título">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="comboSituacaoNpj" style="margin-bottom: 0px;">Situação NPJ</label>
                            <select class="form-control" name="IdSituacaoNpj" id="comboSituacaoNpj" placeholder="" style="margin-top: 4px;">
                                <option value=""></option>
                                @foreach (var item in ViewBag.SituacaoNpj)
                                {
                                    <option value="@item.id"> @item.text </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="comboSituacaoProjudi" style="margin-bottom: 0px;">Situação Projudi</label>
                            <select class="form-control" name="IdSituacaoProjudi" id="comboSituacaoProjudi" placeholder="" style="margin-top: 4px;">
                                <option value=""></option>
                                @foreach (var item in ViewBag.SituacaoProjudi)
                                {
                                    <option value="@item.id"> @item.text </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="box box-default">
                            <div class="box-header">
                                <h3 class="box-title">
                                    Anotações
                                    <small>Anotações gerais do processo</small>
                                </h3>
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body pad">
                                <form>
                                    <textarea id="Descricao" name="Descricao" rows="10" cols="80" style="min-width: 100%" cod="1"> </textarea>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="box box-default collapsed-box">
                            <div class="box-header">
                                <h3 class="box-title">
                                    Registro
                                    <small>Informações do registro</small>
                                </h3>
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse" collapse="1" ignore="1">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body pad">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputUsuarioAlteracaoT" style="margin-bottom: 4px;">Usuario da ultima alteração</label>
                                        <input type="text" class="form-control" disabled name="UsuarioAlteracao" id="inputUsuarioAlteracaoT" placeholder="" ignore="1">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputDataHoraAlteracaoT" style="margin-bottom: 4px;">Data/Hora da ultima alteração</label>
                                        <input type="text" class="form-control" disabled name="DescricaoDataHoraAlteracao" id="inputDataHoraAlteracaoT" placeholder="" ignore="1">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputUsuarioRegistroT" style="margin-bottom: 4px;">Criado por</label>
                                        <input type="text" class="form-control" disabled name="UsuarioRegistro" id="inputUsuarioRegistroT" placeholder="" ignore="1">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputDataHoraRegistroT" style="margin-bottom: 4px;">Data/Hora da criação</label>
                                        <input type="text" class="form-control" disabled name="DescricaoDataHoraRegistro" id="inputDataHoraRegistroT" placeholder="" ignore="1">
                                    </div>
                                </div>

                                <div class="col-sm-6" hidden admin="1">
                                    <div class="form-group">
                                        <label for="inputUsuarioExclusaoT" style="margin-bottom: 4px;">Excluido por</label>
                                        <input type="text" class="form-control" disabled name="UsuarioExclusao" id="inputUsuarioExclusaoT" placeholder="" ignore="1">
                                    </div>
                                </div>

                                <div class="col-sm-6" hidden admin="1">
                                    <div class="form-group">
                                        <label for="inputDataHoraExclusaoT" style="margin-bottom: 4px;" hidden admin="1">Data/Hora da exclusão</label>
                                        <input type="text" class="form-control" disabled name="DescricaoDataHoraExclusao" id="inputDataHoraExclusaoT" placeholder="" ignore="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                    </div>
                    <div class="col-md-5">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal Remove Atendimento *@
    <div class="modal fade" id="modalRemoveAtendimento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" grid="AtendimentoGrid" url="http://localhost:51485/api/processoCrud/RemoveAtendimento" reload="tabelaAtendimento">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">
                            &times;
                        </span><span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Remover atendimento</h4>
                </div>

                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Deseja mesmo excluir este registro?</label>
                            <input type="hidden" id="IdRemoveAtendimento" name="Id">
                        </div>
                    </div>

                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            <button type="button" id="btnConfirm1" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $('#filtroData').inputmask({ "alias": "dd/mm/yyyy" });
        $('#filtroData').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            keyboardNavigation: true,
            language: 'pt-BR',
            clearBtn: true
        }).on('hide', function (e) { e.stopPropagation(); });
        $('#filtroCliente').select2({
            "placeholder": "Pesquise o cliente",
            "dropdownParent": $("#modalFiltro"),
            "allowClear": true,
            "dataType": 'json',
            "type": 'GET',
            "ajax": {
                "url": "http://localhost:51485/api/processoCrud/GetClienteComboDto",
                "dataType": 'json',
                "data": function (params) {
                    return {
                        search: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                    results: response.results
                    };
                },
                cache: true
            },
        }).data('select2').$selection.css('height', '34px');
        $('#filtroGrupo').select2({
            "placeholder": "Pesquise o grupo",
            "dropdownParent": $("#modalFiltro"),
            "allowClear": true,
            "dataType": 'json',
            "type": 'GET',
            "ajax": {
                "url": "http://localhost:51485/api/alunoCrud/GetGrupoComboDto",
                "dataType": 'json',
                "data": function (params) {
                    return {
                        search: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                    results: response.results
                    };
                },
                cache: true
            },
        }).data('select2').$selection.css('height', '34px');
        $('#filtroConcluidos').bootstrapToggle({
            on: "Sim",
            off: "Não",
            width: 182
        }).change(function () {  this.value = $(this).prop('checked'); });
        $('#processos15dias').bootstrapToggle({
            on: "Sim",
            off: "Não",
            width: 182
        }).change(function () {  $("#filtroConcluidos")[0].disabled = $(this).prop('checked'); this.value = $(this).prop('checked'); });
        $('#processos30dias').bootstrapToggle({
            on: "Sim",
            off: "Não",
            width: 182
        }).change(function () { $("#filtroConcluidos")[0].disabled = $(this).prop('checked'); this.value = $(this).prop('checked'); });

        $('#inputNumeroProcesso').inputmask({ "mask": "9999999-99.9999.9.99.9999" });
        $('#datepicker').inputmask({ "alias": "dd/mm/yyyy" });
        $('#datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            keyboardNavigation: true,
            language: 'pt-BR',
            clearBtn: true
        }).on('hide', function (e) { e.stopPropagation(); });
        $('#comboBoxGrupo').select2({
            "dropdownParent": $("#modalAdd"),
            "allowClear": true,
            "dataType": 'json',
            "type": 'GET',
            "ajax": {
                "url": "http://localhost:51485/api/processoCrud/GetGrupoComboDto",
                "dataType": 'json',
                "data": function (params) {
                    return {
                        search: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                    results: response.results
                    };
                },
                cache: true
            },
        }).data('select2').$selection.css('height', '34px');
        $('#comboBoxCliente').select2({
            "dropdownParent": $("#modalAdd"),
            "allowClear": true,
            "dataType": 'json',
            "type": 'GET',
            "ajax": {
                "url": "http://localhost:51485/api/processoCrud/GetClienteComboDto",
                "dataType": 'json',
                "data": function (params) {
                    return {
                        search: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                    results: response.results
                    };
                },
                cache: true
            },
        }).data('select2').$selection.css('height', '34px');
        $('#comboBoxUsuarioResponsavel').select2({
            "dropdownParent": $("#modalAdd"),
            "allowClear": true,
            "dataType": 'json',
            "type": 'GET',
            "ajax": {
                "url": "http://localhost:51485/api/processoCrud/GetUsuarioResponsavelComboDto",
                "dataType": 'json',
                "data": function (params) {
                    return {
                        search: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                    results: response.results
                    };
                },
                cache: true
            },
        }).data('select2').$selection.css('height', '34px');
        $('#comboBoxTipoAcao').select2({
            "placeholder": "Pesquise o tipo da ação",
            "dropdownParent": $("#modalAdd"),
            "allowClear": true,
            "dataType": 'json',
            "type": 'GET',
            "ajax": {
                "url": "http://localhost:51485/api/processoCrud/GetTipoAcaoComboDto",
                "dataType": 'json',
                "data": function (params) {
                    return {
                        search: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                    results: response.results
                    };
                },
                cache: true
            },
        }).data('select2').$selection.css('height', '34px');
        $('#comboBoxPasta').select2({
            "placeholder": "Pesquise o caso",
            "dropdownParent": $("#modalAdd"),
            "allowClear": true,
            "dataType": 'json',
            "type": 'GET',
            "ajax": {
                "url": "http://localhost:51485/api/processoCrud/GetPastaComboDto",
                "dataType": 'json',
                "data": function (params) {
                    return {
                        search: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                    results: response.results
                    };
                },
                cache: true
            },
        }).data('select2').$selection.css('height', '34px');
        $('#comboBoxPasta').on('change', function () {
            if (this.value > 0) {
                $.get('http://localhost:51485/api/processoCrud/GetInformacoesPastas', { idPasta: this.value }, function (data) {
                    $('[info=1]').toArray().forEach(x => {
                        var $newOption = $("<option selected='selected'></option>").val(data.results[x.name]).text(data.results[x.name.substring(2)]);
                        $('#' + x.id).append($newOption).trigger("change");
                    });
                });
            } else {
                $('[info=1]').toArray().forEach(x => {
                    $('#' + x.id).val(null).trigger('change');
                });
            }
        });
        $('#checkStatus').bootstrapToggle({
            on: "Concluído",
            off: "Não concluído",
            width: 197
        }).change(function () { this.value = $(this).prop('checked'); });
        $("#inputExpectativaValorCausa").maskMoney({
            allowZero: false,
            allowNegative: false,
            defaultZero: false,
            prefix: 'R$ ',
            thousands: '.',
            decimal: ',',
            suffix: ""
        });
        $("#inputValorHonorarios").maskMoney({
            allowZero: false,
            allowNegative: false,
            defaultZero: false,
            prefix: 'R$ ',
            thousands: '.',
            decimal: ',',
            suffix: ""
        });
        $("#inputPercentualHonorarios").maskMoney({
            allowZero: false,
            allowNegative: false,
            defaultZero: false,
            prefix: "",
            thousands: '.',
            decimal: ',',
            suffix: " %"
        });

        CKEDITOR.replace('Descricao', {
            toolbar:
                [
                    { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
                    '/',
                    { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
                    { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl'] },
                    { name: 'tools', items: ['Maximize', 'ShowBlocks'] }

                ]
        });
        $(".textarea").wysihtml5();

        $('#tabelaProcesso').dataTable({
            "dom": "Bfrtip",
            "buttons": [{
                extend: 'excel',
                header: true,
                title: 'Processo',
                fontSize: '15',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4]
                }
            },
            {
                extend: 'pdf',
                header: true,
                title: 'Processo',
                fontSize: '20',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4]
                }
                }],
            "rowCallback": function (row, data) {
                var linha = $('td', row).eq(1);
                if (data.Status == true) {
                    linha.context.style.color = "green"
                    linha.context.style.fontWeight = "bold"
                }                   
            },
            "drawCallback": function (settings) {
                var json = settings.json;
                $("[name='btnRemoveProcesso']").click(function () {
                    if (@ViewBag.IdPapel == -1) {
                        
                        var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];
                        $('#IdRemoveProcesso').val(idSelecionado.Id);
                        $('#modalRemoveProcesso').modal('show');
                    }
                    else
                        alert("Você não possui permissão para executar esta operação");
                });
                $("[name='btnEditProcesso']").click(function () {
                    var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];

                    $.get('http://localhost:51485/api/processoCrud/GetProcessoDto', { id: idSelecionado.Id } ,function(data){
                        $('#modalAdd :input').each(function () {
                            var me = $(this);
                            if (me && me.context.name) {
                                if (me.context.id.includes("comboBox")) {
                                    me.context.innerHTML = "";
                                    var $newOption = $("<option selected='selected'></option>").val(data[me.context.name]).text(data[me.context.name.substring(2)]);
                                    me.append($newOption).trigger('change');
                                }
                                else {
                                    if (me.context.id.includes("check"))
                                        me.prop('checked', data[me.context.name]).change();
                                    else {
                                        me.val(data[me.context.name]);
                                        if (me.context.getAttribute("money") || me.context.getAttribute("percent")) {
                                            //Arrumar isso ae
                                        }
                                    }
                                        
                                }
                                    
                            }
                        });
                        $('#modalAdd').modal('show');
                    });
                });
            },
            "lengthChange": true,
            "responsive": {
                "details": false
            },
            "language": {
                "search": "Pesquisar número:",
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Nenhum resultado encontrado",
                "info": "Mostrando _START_ até _END_ de _TOTAL_ registro(s)",
                "infoEmpty": "Monstrando 0 até 0 de 0 registro(s)",
                "infoFiltered": "",
                "processing": "Carregando...",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
            },
            "bServerSide": true,
            "processing": true,
            "ajax": {
                "url": "http://localhost:51485/api/processoCrud/GetProcessoDtoGrid",
                "data": function (d) {
                    return {
                        "draw": d.draw,
                        "start": d.start,
                        "length": d.length,
                        "search": d.search.value,
                        "order": $('th')[d.order[0].column].outerText,
                        "dir": d.order[0].dir,
                        "dataDistribuicao": $('#filtroData')[0].value,
                        "idCliente": $('#filtroCliente')[0].value,
                        "idGrupo": $('#filtroGrupo')[0].value,
                        "idSituacaoNpj": $('#filtroSituacaoNpj')[0].value,
                        "idSituacaoProjudi": $('#filtroSituacaoProjudi')[0].value,
                        "somenteConcluidos": $('#filtroConcluidos')[0].value,
                        "processos15dias": $('#processos15dias')[0].value,
                        "processos30dias": $('#processos30dias')[0].value
                    };
                }
            },
            "columns": [
                { "data": "DescricaoDistribuicao", "width": "1%" },
                { "data": "NumeroProcesso", "width": "20%" },
                //{ "data": "TipoAcao", "width": "20%" },
                { "data": "Cliente", "width": "18%" },
                { "data": "Grupo", "width": "10%" },
                { "data": "DescricaoSituacaoNpjAtual", "bSortable": false, "width": "15%" },
                { "data": "DescricaoSituacaoProjudiAtual", "bSortable": false, "width": "15%" },
                {
                    "bSortable": false,
                    "data": null,
                    "width": "13%",
                    "defaultContent":
                        '<button type="button" name="btnEditProcesso" class="btn btn-primary" style="width:36px; padding-left: 11px; margin: 1px 2px 1px 2px;">' +
                        '<i class= "fa fa-pencil-square-o" ></i>' +
                        '</button>' +
                        '<button type="button" name="btnRemoveProcesso" class="btn btn-danger" style="width:36px; margin: 1px 2px 1px 2px;">' +
                        '<i class="fa fa-trash"></i>' +
                        '</button>'
                },
                { "data": "Id", "visible": false },
            ]
        });

        $('#tabelaAtendimento').dataTable({
            "paging": false,
            "searching": false,
            "scrollY": "200px",
            "scrollCollapse": true,
            "lengthChange": false,
            "bServerSide": true,
            "processing": true,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Nenhum resultado encontrado",
                "info": "Mostrando _START_ até _END_ de _TOTAL_ registro(s)",
                "infoEmpty": "Monstrando 0 até 0 de 0 registro(s)",
                "infoFiltered": "",
                "processing": "Carregando...",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
            },
            "ajax": {
                "url": "http://localhost:51485/api/processoCrud/GetAtendimentoGrid",
                "data": function (d) {
                    return {
                        "order": $('th')[d.order[0].column].outerText,
                        "dir": d.order[0].dir,
                        "consultar": $('#modalAdd')[0].getAttribute('consultar'),
                        "idProcesso": $('#modalAdd [name=Id]')[0].value
                    };
                }
            },
            "columns": [
                { "data": "Titulo", "bSortable": false, "width": "25%" },
                { "data": "DescricaoSituacaoNpj", "bSortable": false, "width": "15%" },
                { "data": "DescricaoSituacaoProjudi", "bSortable": false, "width": "15%" },
                { "data": "UsuarioAlteracao", "bSortable": false, "width": "10%" },
                { "data": "DescricaoDataHoraAlteracao", "bSortable": false, "width": "10%" },
                {
                    "bSortable": false,
                    "data": null,
                    "width": "10%",
                    "defaultContent":
                        '<button type="button" name="btnEditAtendimento" class="btn btn-primary" style="width:36px; padding-left: 11px; margin: 1px 2px 1px 2px;">' +
                        '<i class= "fa fa-pencil-square-o" ></i>' +
                        '</button>' +
                        '<button type="button" name="btnRemoveAtendimento" class="btn btn-danger" style="width:36px; margin: 1px 2px 1px 2px;">' +
                        '<i class="fa fa-trash"></i>' +
                        '</button>'
                },
                { "data": "Id", "visible": false },
                { "data": "IdPasta", "visible": false },
                { "data": "Descricao", "visible": false },
                { "data": "IdSituacaoAtendimento", "visible": false },
                { "data": "IdProcesso", "visible": false },
                { "data": "IdUsuarioRegistro", "visible": false },
                { "data": "UsuarioRegistro", "visible": false },
                { "data": "DataHoraRegistro", "visible": false },
                { "data": "DescricaoDataHoraRegistro", "visible": false },
                { "data": "DataHoraExclusao", "visible": false },
                { "data": "DescricaoDataHoraExclusao", "visible": false },
            ],
            "drawCallback": function (settings) {
                var json = settings.json;
                if (json.data.length > 0 && json.data[0].IdUsuarioExclusao == null) {
                    $('#comboSituacaoNpjAtual').val(json.data[0].IdSituacaoNpj);
                    $('#comboSituacaoProjudiAtual').val(json.data[0].IdSituacaoProjudi);
                }
                else {
                    $('#comboSituacaoNpjAtual').val("");
                    $('#comboSituacaoProjudiAtual').val("");
                }
                    

                $("[name='btnRemoveAtendimento']").click(function () {
                    var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];
                    if (idSelecionado.IdUsuarioExclusao == null) {
                        $('#IdRemoveAtendimento').val(idSelecionado.Id);
                        $('#modalRemoveAtendimento').modal('show');
                    }
                    else
                        alert('Não é permitido alterar informações e um registro excluido.');
                });
                $("[name='btnEditAtendimento']").click(function () {
                    var idSelecionado = json.data[$(this).parents()[1].rowIndex - 1];
                        $('#modalAddAtendimento :input').each(function () {
                            var me = $(this);
                            if (me && me.context.name) {
                                if (me.context.getAttribute('cod') && idSelecionado[me.context.name]) {
                                    CKEDITOR.instances.Descricao.setData(idSelecionado[me.context.name].split("<br />").join("\n"));
                                }
                                else
                                    me.val(idSelecionado[me.context.name]);
                            }
                    });
                    if (idSelecionado.IdUsuarioExclusao == null  && idSelecionado.IdUsuarioAlteracao == @ViewBag.IdUsuario)
                        $('#modalAddAtendimento #btnConfirm').show();
                    else
                        $('#modalAddAtendimento #btnConfirm').hide();

                    $('#modalAddAtendimento').modal('show');
                });
            }
        });

        var data = JSON.parse('@Html.Raw(@ViewBag.Filtros)');
        if (data != null) {
            if (data == 1)
                $('#filtroConcluidos').prop('checked', true).change();
            if (data == 15)
                $('#processos15dias').prop('checked', true).change();
            if (data == 30)
                $('#processos30dias').prop('checked', true).change();

            if (data != 0) {
                $('#consultaPersonalizada').show();
            }
        }
    });
</script>
