@using System.Web.Optimization;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NPJe</title>
    @Styles.Render("~/Css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
    @Styles.Render("~/PluginsDatePickerCss")
    @Styles.Render("~/ExtrasCss")
    <link href="~/Content/dist/css/extras.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini ">
    @Scripts.Render("~/Js")
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    @Scripts.Render("~/PluginsMask")
    @Scripts.Render("~/PluginsDatePicker")
    @Scripts.Render("~/Extras")
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="../../index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>N</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>NPJ</b>e</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">1</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Você possui 1 agendamento(s) para hoje</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-calendar text-aqua"></i> Atendimento para fazer tal tal coisa referente a tal coisa
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="@Url.Action("Index", "Agendamento")">Ver todos</a></li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Content("~/Content/dist/img/user-logo_d.png")" class="user-image" alt="User Image">
                                <span class="hidden-xs">@ViewBag.Usuario</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@Url.Content("~/Content/dist/img/user-logo_d.png")" class="img-circle" alt="User Image">
                                    <p>
                                        @ViewBag.Usuario - @ViewBag.Papel
                                        <small>Memmbro desde @DateTime.Now.ToString("dd-MM-yyyy")</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="@Url.Action("ExitLogin", "Home")" class="btn btn-default btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            @*<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>*@
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Content("~/Content/dist/img/user-logo_d.png")" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@ViewBag.Usuario</p>
                        <a href="#"><i class="fa fa-circle text-success"></i>@ViewBag.Status</a>
                    </div>
                </div>

                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MENU</li>
                    <li class="treeview">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-pie-chart"></i>
                            <span>Relatórios</span>
                        </a>
                        @*<ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                                <li><a href="../../index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                            </ul>*@
                    </li>
                    <li class="treeview">
                        <a href="@Url.Action("Index", "Cliente")">
                            <i class="fa fa-user"></i>
                            <span>Clientes</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="@Url.Action("Index", "Pasta")">
                            <i class="fa fa-folder-open"></i>
                            <span>Pastas</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="@Url.Action("Index", "Processo")">
                            <i class="fa fa-list-alt"></i>
                            <span>Processos</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="@Url.Action("Index", "Agendamento")">
                            <i class="fa fa-calendar"></i>
                            <span>Agendamentos</span>
                        </a>
                    </li>
                    <li class="treeview" admin="1">
                        <a href="@Url.Action("Index", "Aluno")">
                            <i class="fa fa-graduation-cap"></i>
                            <span>Alunos</span>
                        </a>
                    </li>
                    <li class="treeview" admin="1">
                        <a href="@Url.Action("Index", "Responsavel")">
                            <i class="fa fa-binoculars"></i>
                            <span>Responsáveis</span>
                        </a>
                    </li>
                    <li class="treeview" admin="1">
                        <a href="@Url.Action("Index", "Grupo")">
                            <i class="fa fa-group"></i>
                            <span>Grupos</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.8
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    <script>
        $(document).ready(function () {

            if (@ViewBag.IdPapel != -1)
                $('[admin=1]').hide();


            $($.fn.dataTable.tables(true)).css('width', '100%');
            $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();

            //Comportamento de ssalvar registros no banco
            $('button[id=btnConfirm]').on('click', function () {
                var formValid = true;
                var result = '{ ';
                $('#' + $(this).parents().toArray().filter(x => x.className.includes("modal fade"))[0].id + ' :input').each(function () {
                    var me = $(this);
                    if (me && me.context.name) {
                        me.on('click', x => x.delegateTarget.style.borderColor = "#ccc");
                        if (me.context.validity.valueMissing && me.context.required) {
                            me.context.style.borderColor = "red";
                            formValid = false;
                        }
                        else {
                            if (me.context.name == "Id" && me.context.value.length == 0)
                                me.context.value = "0";
                            me.context.style.borderColor = "#ccc";

                            if (me.context.getAttribute('ignore')) { }
                            else {
                                if (me.context.getAttribute('cod')) {
                                    result = result + '"' + me.context.name + '": "' + 
                                        CKEDITOR.instances.Descricao.getData().split("\n").join("<br />") + '",';
                                }
                                else {
                                    var m = me;
                                    var r = result;
                                    if (me.context.getAttribute("money"))
                                        me.context.value = me.context.value.replace("R$ ", "").split(".").join("").replace(",",".");
                                    if (me.context.getAttribute("percent"))
                                        me.context.value = me.context.value.replace(" %", "").split(".").join("").replace(",",".");
                                    
                                    result = result + '"' + me.context.name + '": "' + me.context.value + '",';
                                }
                                
                            }

                        }
                    }
                });
                if (formValid) {
                    var modal = $('#' + $(this).parents().toArray().filter(x => x.className.includes("modal fade"))[0].id)[0],
                        url = modal.getAttribute('url');

                    var pass = $('#' + $(this).parents().toArray().filter(x => x.className.includes("modal fade"))[0].id + ' :password')[0];

                    if (pass && pass.name && pass.value)
                        result = result + '"' + pass.name + '": "' + pass.value + '",';

                    result = result.substr(0, result.length - 1) + ' }';

                    $.get(url, { values: result }, function (data) {
                        var modalId = modal.getAttribute('reload');
                        var reload = $('#' + modalId);
                        if (reload) {
                            if (modalId.includes("combo")) {
                                var $newOption = $("<option selected='selected'></option>").val(data).text(JSON.parse(result).Descricao);
                                reload.append($newOption).trigger('change');
                            }
                            else
                                reload.DataTable().ajax.reload();
                        }


                        $('#' + modal.id).modal('hide');
                    });
                }
            });

            //Comportamento de salvar registros na tela
            $('button[id=btnConfirm1]').on('click', function () {
                var formValid = true;
                var result = '{ ';
                var rawValue = "";
                var option = false;
                $('#' + $(this).parents().toArray().filter(x => x.className.includes("modal fade"))[0].id + ' :input').each(function () {
                    var me = $(this);
                    if (me && me.context.name) {
                        me.on('click', x => x.delegateTarget.style.borderColor = "#ccc");
                        if (me.context.validity.valueMissing && me.context.required) {
                            me.context.style.borderColor = "red";
                            formValid = false;
                        }
                        else {
                            var thisModal = $(this).parents().toArray().filter(x => x.className.includes("modal fade"))[0];
                            if (me.context.name.includes("Id") && me.context.value.length == 0)
                                me.context.value = "0";
                            me.context.style.borderColor = "#ccc";

                            result = result + "'" + me.context.name + "': '" + me.context.value + "',";

                            if (thisModal && thisModal.getAttribute('option') == 1) {
                                option = true;
                                if (me.context.getAttribute('rawValue')) {
                                    if (me[0] && me[0].selectedIndex) {
                                        rawValue = rawValue + me[0].options[me[0].selectedIndex].label + " - ";
                                    }
                                    else
                                        if (me[0].value)
                                            rawValue = rawValue + me[0].value + " - ";
                                }
                            }
                            else {

                                if (me.context.options && me.context.multiple) {

                                    var value = "'" + me.context.name + "': ["

                                    for (var i = 0; i < me.context.options.length; i++) {
                                        if (me.context.options[i].value.length > 0) {
                                            value = value + me.context.options[i].value + ", ";
                                        }
                                    }
                                    value = value.substr(0, value.length - 2) + "]";
                                    result = result + value + ',';
                                }
                                else {
                                    result = result + "'" + me.context.name + "': '" + me.context.value + "',";
                                }
                            }
                        }
                    }
                });
                if (formValid) {
                    result = result.substr(0, result.length - 1) + ' }';

                    rawValue = rawValue.substr(0, rawValue.length - 3);
                    var modal = $(this).parents().toArray().filter(x => x.className.includes("modal fade"))[0];
                    var grid = $('[name=' + modal.getAttribute('grid') + ']')[0];

                    if (option || ($('#' + $(this).parents().toArray().filter(x => x.className.includes("modal fade"))[0].id)[0].getAttribute('excluir'))) {
                        if (modal.getAttribute('excluir')) {
                            while (grid.options.selectedIndex != -1) {
                                grid.options[grid.options.selectedIndex].remove();
                            }
                        } else {
                            rawValue = rawValue.substr(0, rawValue.lastIndexOf('-')) + 'até ' + rawValue.substring(rawValue.lastIndexOf('-') + 2);
                            grid.innerHTML = grid.innerHTML + '<option value="' + result + '"> ' + rawValue + ' </option>';
                        }
                        $('#' + modal.id).modal('hide');
                    }
                    else {
                        var url = modal.getAttribute('url');

                        $.get(url, { values: result }, function (data) {
                            var reload = $('#' + modal.getAttribute('reload'));

                            if (reload)
                                reload.DataTable().ajax.reload();

                            $('#' + modal.id).modal('hide');
                        });
                    }
                }
            });

            $('.modal').on('show.bs.modal', function () {
                var me = $(this);
                me.context.setAttribute('consultar', true);
            });

            $('.modal').on('hide.bs.modal', function () {                
                var me = $(this);
                me.context.setAttribute('consultar', false);
                $("#" + me.context.id + " input").val("");
                $("#" + me.context.id + " select").val("");
                $("#" + me.context.id + " textarea").val("");
                if(CKEDITOR.instances.Descricao)
                    CKEDITOR.instances.Descricao.setData();

                $("#" + me.context.id + " select").toArray()
                    .filter(x => x.getAttribute('removeHtml'))
                    .forEach(x => {
                        x.innerHTML = "";
                    });

                $("#" + me.context.id + " select").val(null).trigger('change');

                $("#" + me.context.id + " [type=checkbox]").prop('checked', false).change();

                $("#" + me.context.id + " input").each(function () {
                    var input = $(this);
                    if (input && input.context.style.borderColor == "red")
                        input.context.style.borderColor = "#ccc";
                });

                if (me.context.id == "modalAdd" && me.context.getAttribute('registrosInconsistentes'))
                    $.get(me.context.getAttribute('registrosInconsistentes'), {}, function (data) { });

                $('button').toArray().filter(x => x.getAttribute('collapse')).forEach(x => {
                    if(x.innerHTML.includes("fa-minus"))
                        x.click();
                });

                $("#" + me.context.id + ' #btnConfirm').show();
                $("#" + me.context.id + ' #btnConfirm1').show();

            });

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $($.fn.dataTable.tables(true)).css('width', '100%');
                $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
            });

            $('#modalAdd').on('shown.bs.modal', function () {
                $($.fn.dataTable.tables(true)).css('width', '100%');
                $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
            });

        });
    </script>
</body>
</html >
